.idea
*.iml
node_modules
node
etc
.gradle
gradle
build
local
out
*.log
temp
.DS_store
classes
logs
application-local.properties

generated/
generated_tests/
create.sql
/generated-schema.sql
gradlew
gradlew.bat

/logs/
