.amount-limit-notification {
    color: #5c6466; }
.amount-limit-notification .modal-content {
    border-radius: 0; }
.amount-limit-notification .modal-content .modal-header {
    border-bottom-width: 0; }
.amount-limit-notification .modal-content .modal-header .close {
    opacity: 1; }
.amount-limit-notification .modal-content .modal-header span {
    font-weight: 400;
    display: block;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 32px;
    text-align: center;
    color: #5c6466;
    overflow: hidden;
    transition: transform .2s ease-out; }
.amount-limit-notification .modal-content .modal-header span:hover {
    cursor: pointer;
    text-decoration: none;
    transform: rotate(360deg); }
.amount-limit-notification .modal-content .modal-header .modal-title {
    color: #5c6466; }
.amount-limit-notification .modal-content .modal-footer {
    background: #f0f0f0;
    border-top-width: 0; }
.amount-limit-notification .modal-content .modal-footer .pay_now_btn,
.amount-limit-notification .modal-content .modal-footer .cancel_btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 0 20px 0 0;
    border: 1px solid #90999c;
    background: #ffffff;
    color: #5c6466;
    cursor: pointer;
    border-radius: 0;
    outline: none; }