body {
    background-color: #fff;
    font-family: Arial, sans-serif; }

.clear {
    clear: both; }

/*============ header ============*/
.header-container {
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-bottom: 10px;
    padding-top: 10px; }

.header-content {
    width: 80%;
    margin: 0 auto;
    color: #e6eaee; }
.header-content .logo-container {
    float: left; }
.header-content .lan-container {
    float: right; }
.header-content a, .header-content span {
    font-size: 14px;
    text-decoration: none;
    color: #667e9a; }
.header-content a:hover, .header-content span:hover {
    color: #335378; }

.ic_cn {
    display: inline-block;
    width: 16px;
    height: 11px;
    vertical-align: middle;
    overflow: hidden;
    background: url(./cn.png); }

/*============ form ============*/
.form-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px;
}

main {
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    max-width: 80%;
    display: block;
    position: relative;
    background: #fff;
    z-index: 3;
    box-sizing: content-box; }

main:after, main:before {
    content: "";
    position: absolute; }

main:before {
    border-radius: 3px 3px 0 0;
    z-index: -2;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }

main:after {
    z-index: -1;
    bottom: 0;
    left: -5px;
    right: -5px;
    height: 95%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 60%); }

.details-text {
    color: gray;
    font-size: 14px;
}
.details-text label {
    color: #4d4d4d;
    font-size: 14px;
}

.title-container {
    margin-bottom: 30px; }

/*============ stepper ============*/
.details-container {
    margin-top: 20px;
    position: relative; }

.details-title {
    color: #335378;
    font-size: 26px;
    font-weight: 400;
    border-bottom: 1px solid #335378;
    padding-bottom: 10px;
    margin-top: 40px;
    font-family: Arial, sans-serif; }

.merchant-title {
    margin-top: 0; }

.circle {
    border-radius: 50%;
    display: inline-block;
    background-color: #857650;
    color: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    z-index: 10; }

.circle-second {
    background-color: #e7e4dc;
    color: #857650; }

.step-indicator {
    border-radius: 10px;
    margin: 25px 0;
    text-align: justify;
    width: 100%;
    padding: 0;
    background: #e7e4dc;
    height: 2px;
    position: relative;
    counter-reset: my-badass-counter; }

.is-active .step-indicator__title {
    color: #335378; }

.step-indicator__step {
    position: relative;
    text-align: center;
    top: -44px;
    font-size: 13px;
    min-width: 68px; }

.is-active .step-indicator__title {
    color: #335378; }

.step-indicator__title {
    color: #b6ad96;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .09375em;
    line-height: 1;
    margin-bottom: 7px; }

.step-line {
    border-top: 2px solid #e7e4dc;
    padding: 0;
    margin: 0;
    height: 50px; }

.first-active-line {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 2px;
    background: #857650;
    position: absolute;
    top: -2px; }

.merchant {
    text-align: center;
    color: #335378;
    font-size: 28px;
    font-weight: 400; }

.col-container {
    padding: 0; }

.mobile-container {
    padding-left: 15px; }

/*======== button ===========*/
.button-container {
    margin-top: 40px; }
.button-container .buttons {
    text-align: right; }

.back-button {
    color: #335378 !important;
    border: 1px solid #335378;
    border-radius: 4px;
    box-shadow: 0 0 0 !important;
    margin-left: 50px; }

.cancel-button {
    color: #857650 !important;
    border: 1px solid #857650;
    border-radius: 4px;
    box-shadow: 0 0 0 !important; }

/*======== footer ===========*/
.footer-container {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: #335378; }

.footer-content {
    width: 80% !important;
    margin: 0 auto;
    color: #e6eaee; }
.footer-content .col-container {
    text-align: center;
    font-weight: 400; }
.footer-content .col-container img {
    margin-bottom: 5px; }
.footer-content .col-container p {
    font-size: 13px;
    margin: 0;
    line-height: 21px; }
.footer-content .col-container a, .footer-content .col-container span {
    font-size: 10px;
    line-height: 21px;
    text-decoration: none;
    color: #ccd4dd; }
.footer-content .col-container a:hover, .footer-content .col-container span:hover {
    color: #fff; }

/*======== label and input ===========*/
.form-group.is-focused .form-control .material-input:after {
    background-color: #667e9a; }

.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #667e9a; }

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
    color: #667e9a; }

.form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#667e9a), to(#667e9a)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#667e9a, #667e9a), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#667e9a, #667e9a), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#667e9a, #667e9a), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

.control-label span {
    color: #de3226;
    font-size: 12px; }

.help-block {
    color: #de3226; }

/*======== mobile label ===========*/
.mobile-label {
    margin-left: 0 !important; }

.is-empty .mobile-label {
    margin-left: 3% !important; }

.is-focused .mobile-label {
    margin-left: 0 !important; }

/*======== logo ===========*/
/*
@media screen and (max-width: 781px) {
   svg {
    width: 200px;
    height: 90px;
  }
}
*/
svg {
    width: 170px;
    height: 90px;
    max-width: 100%; }

/*======== help ===========*/
.help-info {
    width: 75%;
    float: right; }
.help-info .help-title {
    padding: 0 0 7px;
    border-bottom: 1px solid #e7e4dc;
    font-weight: 400;
    font-family: Times New Roman, serif;
    color: #1a2a3c;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px; }
.help-info .help-text {
    font-size: 14px;
    color: #4d4d4d;
    font-family: Arial, sans-serif;
    margin-bottom: 25px; }
.help-info .help-text a {
    color: #335378;
    outline: 0;
    transition: all .1s ease-in-out;
    text-decoration: underline; }
.help-info .help-text a:hover {
    color: #b6ad96; }

.rule-line {
    color: #f2f4f7;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 25px; }

.country-code {
    position: absolute;
    left: 24%;
    bottom: 49%;
    height: 5px;
    width: 5px;
    border-color: gray transparent transparent !important;
    z-index: -10;
    cursor: pointer; }

/*======== transfer steps & email link ===========*/

ol.manual-transfer-steps {
    list-style-type: decimal;
    padding-left: 17px;
    list-style-position: outside;
    margin: 10px 0;
}

ol.manual-transfer-steps li {
    padding-left: 5px;
}

ul.manual-transfer-steps {
    list-style-type: none;
    padding-left: 0;
}

.email-address {
    color: #5c6466;
}

.email-address:hover {
    color: #335378;
    text-decoration: none;
}

.transfer-text {
    font-size: 14px;
    line-height: 26px;
    color: #4d4d4d;

}



.upload-button {
    color: #335378 !important;
    border: 1px solid #335378;
    border-radius: 4px;
    box-shadow: 0 0 0 !important;
    margin-top: 10px; }

